lib/MSpec/
lib/NUnit/
lib/NAnt/
lib/NuGet/
lib/DnDns/
lastAPI/
lastNuGet/
lastInstallers/
lastInstaller/
NDepend.xml
deployment/
nuspec_template
packages/
build/
build.custom/analyzers/
build.custom/default.post.build
build.custom/gemsBuild.post.step
build.custom/package.post.step
build.custom/versionBuilder.post.step
build_output/
code_drop/
obj/
bin/
*.suo
*.cache
*.user
SolutionVersion.cs
InstallerVersion.nsh
build.sh
test.*
zip.*
open.*
_ReSharper*/
*/nsis/*.exe
*/nsis/include/
*.nupkg
*.nuspec
CardAtOnce.CoreSystem.sln.GhostDoc.xml
/tools
